[settings]
network = "testnet"
deployment_fee_rate = 10
mnemonic = "your twelve or twenty-four word seed phrase goes here"
# The deployer account will be derived from this mnemonic
# Make sure this account has sufficient testnet STX for deployment fees
# Get testnet STX from: https://explorer.hiro.so/sandbox/faucet

[contracts]
ewatch = "contracts/ewatch.clar"
ewatch-v2 = "contracts/ewatch-v2.clar"
